body {
    text-align: center;
}

#game-end {
    display: none;
}

#game-container {
    display: flex;
    justify-content: center;  
}

.logo-img {
    width: 250px;
    height: auto;
}

body button {
    font-size: 35px;
    background-color: orange;
    color: green;
    padding: 20px 40px;
    border-radius: 0px;
    margin-bottom: 15px;
}

#game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px;
    position: relative;
    background-image: url(../images/beach.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    }
  